# =========================
# DATASETS
# =========================

data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep


# =========================
# TRAINED MODELS
# =========================

models/*
!models/.gitkeep


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*.pyo


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/


# =========================
# ENVIRONMENT
# =========================

venv/
env/
.venv/


# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db


# =========================
# VS CODE
# =========================

.vscode/